<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Puppy Adoption!</h1>

    <form method="POST" action="/display_puppy">
      <p>Puppy name<input type="text" name="puppy_name"></p>
      <p>Puppy breed<input type="text" name="puppy_breed"></p>
      <p>Puppy age<input type="text" name="puppy_age"></p>
      <input type="submit">
    </form>

  </body>
</html>
